$blocks-block__margin: 0.5em;

.wp-block-tableberg-button {
    --tableberg-button-text-hover-color: white;

    .wp-block-button__link {
        display: inline-block;
        color: white;
    }
    margin-block: 10px;
    &.has-background-color {
        .wp-block-button__link {
            background: var(--tableberg-button-background-color);

            &:hover,
            &:focus {
                background: var(--tableberg-button-hover-background-color);
            }
        }
    }
    &.has-text-color {
        .wp-block-button__link {
            color: var(--tableberg-button-text-color);

            &:hover,
            &:focus {
                color: var(--tableberg-button-text-hover-color);
            }
        }
    }
    &.has-hover-background-color {
        .wp-block-button__link:hover {
            background: var(
                --tableberg-button-hover-background-color
            ) !important;
        }
    }
    &.has-hover-text-color {
        .wp-block-button__link:hover {
            color: var(--tableberg-button-text-hover-color) !important;
        }
    }

    &.block-align-left {
        text-align: left;
        margin-right: auto;
    }

    &.block-align-center {
        text-align: center;
        margin-inline: auto;
    }

    &.block-align-right {
        text-align: right;
        margin-left: auto;
    }

    &.has-custom-font-size {
        .wp-block-button__link {
            font-size: inherit;
        }
    }

    &.has-custom-width {
        max-width: none;
        .wp-block-button__link {
            width: 100%;
        }
    }

    &.wp-block-button__width-25 {
        width: calc(
            25% - (var(--wp--style--block-gap, #{$blocks-block__margin}) * 0.75)
        );
    }

    &.wp-block-button__width-50 {
        width: calc(
            50% - (var(--wp--style--block-gap, #{$blocks-block__margin}) * 0.5)
        );
    }

    &.wp-block-button__width-75 {
        width: calc(
            75% - (var(--wp--style--block-gap, #{$blocks-block__margin}) * 0.25)
        );
    }

    &.wp-block-button__width-100 {
        width: 100%;
        flex-basis: 100%;
    }
}
