.tableberg-theme-disabled {
    * {
        color: rgb(27, 27, 27);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #444;
        font-weight: 700;
        margin: 0;
        padding: 0;
        line-height: 1.2;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        color: #0056b3;
        text-decoration: underline;
    }
}

div.wp-block-tableberg-wrapper {
    --wp--preset--spacing--5: 5px;

    box-sizing: border-box;

    @mixin justify-table {
        &.justify-table-left {
            margin-left: 0 !important;
            margin-right: auto !important;
        }
        &.justify-table-center {
            margin-left: auto !important;
            margin-right: auto !important;
        }
        &.justify-table-right {
            margin-left: auto !important;
            margin-right: 0 !important;
        }
        &.justify-table-wide {
            max-width: none !important;
        }
        &.justify-table-full {
            max-width: none !important;
            margin-right: calc(
                var(--wp--style--root--padding-right) * -1
            ) !important;
            margin-left: calc(
                var(--wp--style--root--padding-left) * -1
            ) !important;
        }
    }

    @include justify-table;
    &[id*="block-"] {
        @include justify-table;
    }

    &.justify-table-center .tableberg-table-wrapper {
        width: fit-content;
        margin-inline: auto;
    }

    .tableberg-table-wrapper {
        position: relative;
    }

    &.tableberg-scroll-x .tableberg-table-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        table {
            width: 100%;
            width: auto;
            min-width: 100%;

            tr,
            td,
            th {
                min-width: max-content;
            }
        }
    }

    table {
        width: 100%;

        a {
            color: var(--tableberg-global-link-color);
        }

        .wp-block-tableberg-cell {
            border-top: var(
                --tableberg-row-border-top,
                var(--tableberg-inner-border-top)
            );
            border-right: var(
                --tableberg-col-border-right,
                var(--tableberg-inner-border-right)
            );
            border-bottom: var(
                --tableberg-row-border-bottom,
                var(--tableberg-inner-border-bottom)
            );
            border-left: var(
                --tableberg-col-border-left,
                var(--tableberg-inner-border-left)
            );

            &:first-of-type {
                border-left: var(
                    --tableberg-row-border-left,
                    var(
                        --tableberg-col-border-left,
                        var(
                            --tableberg-inner-border-left-first,
                            var(--tableberg-inner-border-left)
                        )
                    )
                );

                border-top-left-radius: var(
                    --tableberg-row-top-left,
                    var(--tableberg-cell-top-left)
                );
                border-bottom-left-radius: var(
                    --tableberg-row-bottom-left,
                    var(--tableberg-cell-bottom-left)
                );
            }

            &:last-of-type {
                border-right: var(
                    --tableberg-row-border-right,
                    var(
                        --tableberg-col-border-right,
                        var(--tableberg-inner-border-right)
                    )
                );

                border-top-right-radius: var(
                    --tableberg-row-top-right,
                    var(--tableberg-cell-top-right)
                );
                border-bottom-right-radius: var(
                    --tableberg-row-bottom-right,
                    var(--tableberg-cell-bottom-right)
                );
            }
        }

        tr:first-of-type {
            .wp-block-tableberg-cell {
                border-top: var(
                    --tableberg-row-border-top,
                    var(
                        --tableberg-col-border-top,
                        var(
                            --tableberg-inner-border-top-first,
                            var(--tableberg-inner-border-top)
                        )
                    )
                );

                border-top-left-radius: var(
                    --tableberg-col-top-left,
                    var(--tableberg-cell-top-left)
                );
                border-top-right-radius: var(
                    --tableberg-col-top-right,
                    var(--tableberg-cell-top-right)
                );

                &:first-of-type {
                    border-top-left-radius: var(
                        --tableberg-row-top-left,
                        var(
                            --tableberg-col-top-left,
                            var(--tableberg-cell-top-left)
                        )
                    );
                }

                &:last-of-type {
                    border-top-right-radius: var(
                        --tableberg-row-top-right,
                        var(
                            --tableberg-col-top-right,
                            var(--tableberg-cell-top-right)
                        )
                    );
                }
            }
        }

        tr:last-of-type {
            .wp-block-tableberg-cell {
                border-bottom: var(
                    --tableberg-row-border-bottom,
                    var(
                        --tableberg-col-border-bottom,
                        var(--tableberg-inner-border-bottom)
                    )
                );

                border-bottom-left-radius: var(
                    --tableberg-col-bottom-left,
                    var(--tableberg-cell-bottom-left)
                );
                border-bottom-right-radius: var(
                    --tableberg-col-bottom-right,
                    var(--tableberg-cell-bottom-right)
                );

                &:first-of-type {
                    border-bottom-left-radius: var(
                        --tableberg-row-bottom-left,
                        var(
                            --tableberg-col-bottom-left,
                            var(--tableberg-cell-bottom-left)
                        )
                    );
                }

                &:last-of-type {
                    border-bottom-right-radius: var(
                        --tableberg-row-bottom-right,
                        var(
                            --tableberg-col-bottom-right,
                            var(--tableberg-cell-bottom-right)
                        )
                    );
                }
            }
        }
    }

    .wp-block-paragraph [data-rich-text-placeholder]::after {
        content: "Type here";
    }

    .wp-block-paragraph:focus [data-rich-text-placeholder]::after {
        content: "Type / to choose a block";
    }

    &.tableberg-cell-no-outside-border table {
        tr:first-of-type {
            td,
            th {
                border-top: none !important;
            }
        }

        tr:last-of-type {
            td,
            th {
                border-bottom: none !important;
            }
        }

        tr {
            th:first-of-type,
            td:first-of-type {
                border-left: none !important;
            }

            th:last-of-type,
            td:last-of-type {
                border-right: none !important;
            }
        }
    }

    &.tableberg-sticky-top-row {
        position: relative;
        tr:first-of-type {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }

    &.tableberg-sticky-first-col {
        position: relative;
        tr {
            td:first-child,
            th:first-child {
                position: sticky;
                left: 0;
                z-index: 1;
            }
        }
    }

    &.tableberg-border-row-only {
        table {
            th:not(:first-of-type),
            td:not(:first-of-type) {
                border-left: none !important;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            th:not(:last-of-type),
            td:not(:last-of-type) {
                border-right: none !important;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &.tableberg-border-col-only {
        table {
            tr + tr {
                th,
                td {
                    border-top: none !important;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }
            }
            tr:not(:last-of-type) {
                th,
                td {
                    border-bottom: none !important;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    &::before,
    &::after {
        border-radius: inherit !important;
    }

    .tableberg-search {
        margin-bottom: 3px;
        position: relative;
        input {
            height: 30px;
            border: 1px solid #e2e8f0;
            font-size: 100%;
            padding: 0 10px 0 30px;
            border-radius: 5px;
            box-shadow:
                0 4px 6px -1px #00000008,
                0 2px 4px -1px #00000008;

            width: 100%;
            box-sizing: border-box;
        }

        &:not(.tableberg-search-wide) {
            width: 120px;
        }

        &.tableberg-search-right {
            margin-left: auto;
        }

        &.tableberg-search-center {
            margin-left: auto;
            margin-right: auto;
        }

        svg {
            height: 15px;
            width: 15px;
            position: absolute;
            top: 9px;
            left: 9px;
            color: #939393;
        }
    }
}

.add-margin-bottom {
    margin-bottom: 20px;
}

.tableberg-responsiveness-device-switcher-container {
    display: flex;
    margin-bottom: 1rem;
}

.tableberg-responsiveness-device-switcher.components-button {
    flex-direction: column;
    height: 3.5rem;
    flex-grow: 1;
    box-shadow: inset 0 0 0 1px #949494;
}

.tableberg-responsiveness-device-switcher.is-pressed.components-button {
    box-shadow: inset 0 0 0 1px #1e1e1e;
}

.tableberg-search-highlight {
    background-color: #ffeb3b;
    color: #000;
    padding: 1px 2px;
    border-radius: 2px;
    font-weight: 500;
}
