.tableberg-upsell-inspector-notice-wrapper {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 15;
    box-shadow:
        0 -4px 6px -1px rgba(0, 0, 0, 0.1),
        0 -2px 4px -2px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    .tableberg-upsell-inspector-notice {
        display: flex;
        padding: 15px;
        color: #250069;
        background-color: #e9e9ff;
        align-items: center;
        gap: 10px;
        position: sticky;
        bottom: 0;
        font-size: 15px;

        .tableberg-upsell-notice-icon-container {
            img {
                height: 50px;
                width: 50px;
            }
        }
        .tableberg-upsell-notice {
            flex-grow: 1;
        }
    }
}

.tableberg-locked-root {
    margin-top: 0 !important;
    grid-column: 1/-1;
    position: relative;

    * {
        color: gray;
    }

    .tableberg-lock-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        display: flex;
        z-index: 1;
        justify-content: right;
        align-items: center;

        * {
            color: #671feb;
        }
    }

    &-toolbar {
        .tableberg-lock-container {
            padding-right: 10px;
        }
        > * {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }

    .components-form-toggle__track {
        border-color: gray !important;
    }
    .components-form-toggle__thumb {
        background: gray !important;
    }
}
