/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

td.wp-block-tableberg-cell,
th.wp-block-tableberg-cell {
    position: relative;

    .tableberg-appender-wrapper .block-editor-inserter {
        position: absolute;
        right: 0;
        bottom: 0;

        > *:not(.tablberg-block-appender) {
            display: none !important;
        }
    }

    .tablberg-block-appender {
        background: #1e1e1e;
        box-shadow: none;
        color: #fff;
        flex-direction: row;
        height: 24px;
        min-width: 24px;
        padding: 0 !important;
        width: 24px;
    }

    .tableberg-cell-inner {
        position: static !important;
        .block-list-appender {
            display: none !important;
        }
    }
}
