.tab-headings {
    display: flex;
    gap: 16px;
    padding: 10px 0;
    overflow-x: scroll;
}

.tab-heading {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;

    &:hover .tab-heading-remove {
        display: flex;
    }
}

.tab-heading p {
    padding: 3px;
    margin: 0px 10px;
    text-align: center;
    font-size: 1rem;
    width: auto;
    white-space: noWrap;
    display: inline-block;
}

.tab-heading-remove {
    display: none;
    position: absolute;
    top: -8px;
    right: -5px;
    height: 16px;
    width: 16px;
    background-color: #ff4d4d;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
}

.tab-heading-remove:hover {
    background-color: #ff0000;
    transform: scale(1.1);
    transition:
        background-color 0.2s ease,
        transform 0.2s ease;
}

.tab-heading p:focus {
    outline: none;
    cursor: pointer;
}

.tab-heading-add {
    background-color: black;
    height: 26px;
    width: 26px;
    border: none;
    border-radius: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-heading-add button {
    color: white;
}
